<!DOCTYPE html>
<html lang="en">
	<head>
		<% include head %>
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<h1><%= title %></h1>
			<a href="/category/create" class="button">NEW CATEGORY</a>
		</header>
		<main>
			<div class="category-container">
				<% categories.forEach(category => {%>
				<a href="<%= category.url%>" class="category-card">
					<%= category.name%>
				</a>
				<% }) %>
			</div>
		</main>
	</body>
</html>
