<!DOCTYPE html>
<html lang="en">
	<head>
		<% include head %>
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<% include navBar %>
			<h2><%= title %></h2>
		</header>
		<main>
			<form action="" method="post">
				<label for="name">Name:</label>
				<input type="text" name="name" id="name" required autofocus />

				<label for="description">Description:</label>
				<input type="text" name="description" id="description" />

				<label for="price">Price:</label>
				<input type="number" name="price" id="price" required />

				<label for="numberInStock">Number in stock:</label>
				<input type="number" name="numberInStock" id="numberInStock" />

				<label for="category">Category:</label>
				<select name="category" id="category">
					<% categories.forEach(category => { %>
					<option value="<%= category._id %>"><%= category.name %></option>
					<% }) %>
				</select>

				<input type="submit" value="CREATE" class="button" />
			</form>
		</main>
	</body>
</html>
