<nav>
	<ul>
		<li>
			<a href="/">TSUKI</a>
		</li>
	</ul>
	<ul>
		<li>
			<a href="/category/create" class="button">NEW CATEGORY</a>
		</li>
		<li>
			<a href="/item/create" class="button">NEW ITEM</a>
		</li>
	</ul>
</nav>
