<nav>
	<ul>
		<h1>
			<a href="/">TSUKI</a>
		</h1>
	</ul>
	<ul class="button-container">
		<li>
			<a href="/category/create" class="button">NEW CATEGORY</a>
		</li>
		<li>
			<a href="/item/create" class="button">NEW ITEM</a>
		</li>
	</ul>
</nav>
